* { margin: 0; padding: 0; }
body { 
  background: rgb(37, 116, 176) url(bg.png) left top;
  font-family: Menlo;
  font-size: 8pt;
}

#holder {
  width: 640px;
  height: 480px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
